.homePage{
    padding: 0 2rem;
    width: 80%;
    margin: 0 auto;
}


.nav{
    display: flex;
    justify-content: space-between;
    
}

.navItems{
    display: flex;
}


.socialIcons{
    display: flex;
}

.description{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 6rem;
    padding-left: 1rem;
}

.companyName::before{
    content: '';
    display: block;
    width: 100%;
}

.companyName{
    text-transform: uppercase;
    font-size: 6rem;
    margin-right: 2rem;
}

@media  screen and (max-width: 768px) {
    .homePage{
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }
    .description{
        flex-direction: column;
    }
    .companyName{
        font-size: 4rem;
    }
    .subTitle{
        font-size: 1.75rem;
    }
}

